@media(max-width:1375px){
    .coffee_hot_box{
        flex-direction: column;
        align-items: center;
    }
    .cofe_img{
        width: 70%;
    }
    .hot_coffee_subtitles{
        padding-top: 50px;
    }
}

@media(max-width:1330px) {
    .list {
        width: 300px;
        right: 0;
        flex-direction: column;
        position: fixed;
        padding-top: 160px;
        top:0;
        transform: translateY(-100%);
        transition: 1s;
       
    }
    .aktiv{
        transform: translateY(0px);
        transition: 1s;
    }

    .link {
        text-transform: uppercase;
    }
    .list li {
        margin-bottom: 20px;
        width: 200px;
        padding: 10px 0;
        text-align: center;
        background-color: #512a10c7;
        border-radius: 100px;
        transition: 0.5s;
    }
    .list li:hover{
        border: 1px solid white;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.705);
    }


    .flex_icon {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .bars i {
        font-size: 24px;
        color: #FFFFFF;
        margin-left: 10px;
        display: block; 
    }
    .bars{
        z-index: 99;
    }
    .user_icon{
        z-index: 99;
    }

    .user_icon {
        margin-left: auto;
    }

    .subtitle {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: 300ms;
    }

    .coffee_text {
        text-align: center;
    }

    .coffee_title {
        text-align: center;
        width: 600px;
        line-height: 60px;
    }

    .coffeebtn {
        margin: 0 auto;
        width: 140px;
        height: 42px;
        font-size: 16px;
    }
    .reviews_box{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}
@media(max-width:1270px){
    .posts_box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;

    }
}
@media(max-width:1150px){
    .contact_box{
        flex-direction: column;
       align-items: center;
       gap: 20px;
    }
    .contact_catalog{
        flex-direction: column;
        align-items: center;
    }
    .contact_catalog_item{
        width: 60%;
    }
    .gallery_box{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .gallery_item{
        width: 50%;
    }
    .gallery_img{
        display: block;
    }
    .gallery_box:nth-of-type(1){
        margin-bottom: 20px;
    }

    .coffee_menu_box{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}
@media(max-width:1000px){
    .nav{
        padding-left: 100px;
        padding-right: 100px;
    }
    .cofe_img{
        width: 80%;
    }
}
@media(max-width:900px){
      .contact_catalog_item{
        width: 75%;
    }
    .karta{
        width: 75%;
    }
}
@media(max-width:770px){
    .cofe_img{
        width: 80%;
    }
    .coffee_title{
        font-size: 42px;
    }
}
@media(max-width:650px){
    .subscribe{
        width: 80%
    }
    .gallery_item{
        width: 100%;
    }
    .gallery_img{
        width: 100%;
    }
    .menu_title{
        font-size: 34px;
    }
    .coffee_hot_box{
        padding-top: 40px;
    }
    .nav{
     padding-left: 60px;
     padding-right: 60px;
    }
    .coffee_title{
        font-size: 36px;
        width: 400px;
    }
    .coffee_logo{
        font-size: 28px;
    }
    .bars i{
        font-size: 22px;
    }
    .user_icon{
        font-size: 22px;
    }
    .list li {
        background-color: #512a10;
    }
    .coffe_login{
        width: 70%;
    }
    .window_text{
        font-size: 18px;

    }
    .w-text{
        padding: 0px 10px;
    }
    .login_btn{
        font-size: 14px;
    }
    .window_span{
        gap: 10px;
    }

}
@media(max-width:570px){
     .contact_catalog_item{
        width: 90%
    }
    .karta{
        width: 90%;
    }
    .item_texts{
        line-height: 30px;
    }
    .cofe_img{
        width: 90%;
    }
    .coffee_hot_title{
        text-align: center;
        font-size: 28px;
    }
    .coffee_text_1{
        text-align: center;
    }
    .coffee_text_2{
        width: 90%;
        margin: 20px auto;
        text-align: justify;
    }
    .coffee_hot_icons{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .coffee_icons:nth-of-type(1){
        width: 45%
    }
    .coffee_icons:nth-of-type(2){
        width: 45%
    }
    .coffee_icons:nth-of-type(3){
        width: 95%
    }
}
@media(max-width:520px){
    .item_texts{
        text-align: justify;

    }
}
@media(max-width:450px){
    .footer_text{
        line-height: 32px;
        width: 90%;
        margin: 15px auto;
    }
    .newsbtn{
        font-size: 15px;
    }
    .newsletter_title{
        font-size: 24px;
    }
    .newsletter_texts{
        font-size: 18px;
    }
    .subscribe{
        width: 90%;
    }
}
@media(max-width:420px){
    .subscribe_input{
        width: 55%
    }
    .contact_item{
        width: 90%;
    }
    .reviews_item{
        width: 80%;
    }
    .menu_title{
        font-size: 30px;
        line-height: 42px;
    }
     .coffee_hot_box{
        padding-top: 20px;
    }
    .nav{
      padding-left: 40px;
     padding-right: 40px; 
    }
    .coffee_title{
        font-size: 32px;
        width: 350px;
    }
    
    .coffeebtn{
        width: 130px;
        height: 38px;
        font-size: 15px;
    }
    

}
@media(max-width:350px){
    .newsbtn{
        font-size: 14px;
    }
    
    .coffee_title{
        width: 300px;
    }
    .cofe_img{
        width: 100%;
    }
    .coffee_hot_title{
        font-size: 25px;
        line-height: 35px;
    }
    .coffee_text_1{
        font-size: 20px;
    }
    .coffee_text_2{
        font-size: 15px;
        margin: 15px auto;
    }
     .coffee_icons:nth-of-type(1){
        width: 100%
    }
    .coffee_icons:nth-of-type(2){
        width: 100%
    }
    .coffee_icons:nth-of-type(3){
        width: 100% 
    }
}